<footer class="main-footer">
  <!-- <div class="pull-right hidden-xs">
    <b>Version</b> 2.3.8
  </div> -->
  <strong>Copyright &copy; 2020 <a href="/">Bridgestone</a>.</strong> All rights
  reserved.
</footer>