<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>BST AMI</title>
	<link rel="icon" href="../../../img/B Mark with Red Triangle Logo.png" type="image/x-icon">
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	
	<!-- Font Awesome -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Ionicons -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"> -->

	<!-- Bootstrap -->
	<!-- <link rel="stylesheet" href="../../../plugins/bootstrap/css/bootstrap.css"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- jQuery Datatable -->
	<link rel="stylesheet" href="../../../plugins/datatables/css/dataTables.bootstrap.css">
	<link rel="stylesheet" href="../../../plugins/datatables/extensions/select/css/select.bootstrap.css">
	<link rel="stylesheet" href="../../../plugins/datatables/extensions/FixedHeader/css/fixedHeader.bootstrap.min.css">
	<!-- <link rel="stylesheet" href="../../../plugins/datatables/extensions/Buttons/css/buttons.bootstrap.min.css"> -->


	<!-- jQuery ui -->
	<!-- <link rel="stylesheet" href="../../../plugins/jQueryUI/jQueryUI.css"> -->
	<!-- my css -->
	<link rel="stylesheet" href="../../../plugins/myPlugins/custom.css">
	<link rel="stylesheet" href="../../../plugins/myPlugins/creditExceedApprovalLogs.css">
	<!-- select2 -->
	<link rel="stylesheet" href="../../../plugins/select2/select2.min.css">
	<!-- daterange picker -->
	<link rel="stylesheet" href="../../../plugins/daterangepicker/daterangepicker.css">
	<!-- datepicker -->
	<link rel="stylesheet" href="../../../plugins/datepicker/datepicker3.css">
	<!-- pace -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/red/pace-theme-minimal.min.css">
	<!-- wysihtml5 -->
	<link rel="stylesheet" href="../../../plugins/wysihtml5/bootstrap3-wysihtml5.css">
	<!-- animate -->
	<link rel="stylesheet" href="../../../plugins/animate/animate.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="../../../plugins/AdminLTE/css/AdminLTE.css">
	<!-- AdminLTE Skins -->
	<link rel="stylesheet" href="../../../plugins/AdminLTE/css/skins/_all-skins.min.css">

	<!-- Datatable Button CDN -->
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap.min.css">




</head>